<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown previewer</title>
    <link rel="stylesheet" href="static\index.css" />
  </head>
  <body>
    <form class="left">
      <h1 class="h1">Markdown</h1>
      <textarea>
# Hello world!
      </textarea>
    </form>
    <div class="right">
      <h1 class="h1">Preview</h1>
      <div id="content"></div>
    </div>
    <script src="static\index.js"></script>
  </body>
</html>
